.container {
  border: 1px solid #ffffff;
  max-width: 600px;
  color: darkcyan;
  border-radius: 10px;
  box-shadow: 1px 2px 3px 4px;
  padding: 15px;
  margin: 20px auto;
  text-align: left;
}
form {
  font-size: 22px;
}
.button-current {
  background-color: #adad13;
}
.button-search {
  background-color: darkcyan;
}
ul {
  margin: 0 auto;
  padding: 0;
  color: goldenrod;
  list-style-type: none;
  font-size: 20px;
}
ul:first-letter {
  text-transform: capitalize;
}
.weather-temperature .icon {
  display: block;
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #adad13;
  font-size: 64px;
  line-height: 2;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
h2 {
  font-size: 32px;
  color: darkcyan;
}
ul .wind,
.humidity,
.date,
.description {
  color: #adad13;
}
small {
  display: block;
  padding: 0 auto;
  font-size: 15px;
  text-align: center;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-weight: bold;
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
