.body {
  border: 1px solid #ffffff;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px 4px;
  display: block;
  padding: 15px;
  margin: 20px auto;
  text-align: center;
}
h1 {
  font-size: 25px;
  font-weight: lighter;
}
form {
  font-size: 21px;
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: center;
}
.icon {
  font-size: 70px;
}
.temp {
  font-size: 70px;
}
.time {
  font-size: 23px;
  color: blue;
}
.button-current {
  background-color: green;
}
.button-search {
  background-color: pink;
}
.humidity {
  font-size: 22px;
}
.wind {
  font-size: 22px;
  color: blueviolet;
}
footer {
  text-align: center;
}
